*{margin: 0; padding: 0;}
body{font:14px/1.5em "微软雅黑",Helvetica,"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;background: #EEEEEE;}
.box{padding: 15px; overflow: hidden; max-width: 850px; margin: 0 auto;}