*{margin: 0; padding: 0;}
body{font:14px/1.5em "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;background: #EEEEEE;}
.box{padding: 15px; overflow: hidden; max-width: 850px; margin: 0 auto;}