.bubble {
    max-width: 500px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 10px 13px;
    margin: 0 10px;
}
.bubble.bubble_default {
    background-color: #ffffff;
}
.bubble:before,
.bubble:after {
    position: absolute;
    top: 15px;
    border: 7px solid transparent;
    content: " ";
}
.bubble.left:before,
.bubble.left:after {
    right: 100%;
}
.bubble.left:before {
    border-right-color: #cfcfcf;
    margin-right: 1px;
}
.bubble.left:after {
    border-right-color: #FFFFFF;
}
.bubble.right:before,
.bubble.right:after {
    left: 100%;
}
.bubble.right:before {
    border-left-color: #000000;
}
.bubble.right:after {
    border-left-color: #FFFFFF;
}
.bubble.bubble_primary {
    background-color: #9be451;
    background-image: -moz-linear-gradient(top, #a3e85f 0, #95e247 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a3e85f), to(#95e247));
    background-image: -webkit-linear-gradient(top, #a3e85f 0, #95e247 100%);
    background-image: -o-linear-gradient(top, #a3e85f 0, #95e247 100%);
    background-image: linear-gradient(to bottom, #a3e85f 0, #95e247 100%);
    border-color: #75bf50;
}
.bubble.bubble_primary.left:before {
    border-right-color: #000000;
}
.bubble.bubble_primary.left:after {
    border-right-color: #95e247;
}
.bubble.bubble_primary.right:before {
    border-left-color: #75bf50;
    margin-left: 1px;
}
.bubble.bubble_primary.right:after {
    border-left-color: #95e247;
}
.bubble_hd {
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 7px;
}
.bubble_cont {
    padding-top: 7px;
}
.bubble_cont li {
    overflow: hidden;
    color: #888888;
}
.bubble_cont .avatar {
    float: left;
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.bubble_cont .meta,
.bubble_cont .msg {
    float: left;
}
.bubble_cont .msg {
    margin-left: 5px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    height: 1.6em;
}
.bubble_cont .time {
    display: none;
}
.bubble_cont .list {
    overflow: hidden;
}
.bubble.expand li {
    margin-bottom: 15px;
}
.bubble.expand .avatar {
    display: none;
}
.bubble.expand .meta,
.bubble.expand .msg {
    float: none;
}
.bubble.expand .user {
    color: #000000;
}
.bubble.expand .time {
    float: right;
    color: #888888;
    display: block;
}
.bubble.expand .msg {
    color: #888888;
    width: auto;
    height: auto;
    white-space: normal;
}